* {
    box-sizing: border-box;
    font-family: "ALS Sector", sans-serif;
}

body {
    margin: 0;
    font-family: "ALS Sector", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
    display: block;
}

header {
    display: block;
    unicode-bidi: isolate;
}

div {
    display: block;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.header {
    background: linear-gradient(90deg, #004EA0 15%, #008D6A 75%);
    color: #fff;
}

.header-main {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 30px;
    min-width: 320px;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.header_bmstu-logo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

a {
    transition: .2s;
    background-color: rgba(0, 0, 0, 0);
}

a:-webkit-any-link {
    cursor: pointer;
}

.header_bmstu-logo img {
    width: 53px;
    height: 62px;
    margin-right: 15px;
}

img {
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.header_bmstu-name {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: .04em;
}

.header_bmstu-name_desktop {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.header_bmstu-name p {
    margin: 0;
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 0;
}

.header_bmstu-name span {
    font-size: 20px;
}

.nobr {
    white-space: nowrap;
}


.header_menu {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: static;
    width: auto;
    min-height: unset;
    padding-top: 0;
    margin-right: -20px;
    background: none;
}

.header .header_menu-item:first-of-type {
    margin-top: 0;
}

.header .header_menu-item {
    padding: 40px 0;
}

.header .header_menu-item a {
    font-size: 18px;
    display: block;
    padding: 16px 20px;
    line-height: 1.5;
    white-space: nowrap;
}

.header .header_quit-img {
    padding: 30px 0;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.header .header_quit-img img {
    width: 30px;
}

.main-page {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: 0 75px;
}

.testblock {
    margin-top: 30px;
    margin-bottom: 30px;
}

.test {
    border-radius: 50px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    padding: 0;
}

.numberdetails {
    margin-left: 20px;
}

.number {
    font-size: 24px;
}

.details {
    margin-left: 20px;
    font-size: 16px;
}
.starttext {
   position: absolute;
   margin-left:34px;
   margin-top:10px;
}
.startbtn {
    position: absolute;
    bottom: 41px;
    right: 50px;
    width: 130px;
    height: 50px;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #004EA0 15%, #008D6A 75%);
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    transition: transform .3s ease;
}

.startbtn:hover {
    transform: scale(1.07);
}